@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
@import url(http://fonts.googleapis.com/css?family=Oswald:300);


body {
        font-family: 'Oswald', sans-serif;
        font-size:30px;
        color:white;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-weight: 300;
        text-align:center;
}

.container form {
    text-align: left;
}

body#index {
        background-image: url(../images/home.jpg);
    
}

body#about {
        background-image: url(../images/kusanya-coffeebeans.jpg);
       
      
}

body#menu {
        background-image: url(../images/kusanya-coffeebeans.jpg);
}

body#events {
        background-image: url(../images/kusanya-tile.jpg);
}

body#donate {
        background-image: url(../images/kusanya-coffeebeans.jpg);
        

}

h1 {
    font-size:50px;
}

.container {
    margin-bottom: 120px;
}

body#contact {
        background-image: url(../images/kusanya-tile.jpg);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
}

body#catering {
        background-image: url(../images/kusanya-tile.jpg);
}

nav {
        width: 150px;
        float: left;
        display: inline;
        margin: 0;
        padding:300;
        margin-right: 10px;
        background-color:rgba(0, 0, 0 ,0.9);
        margin-top: 100px;
        margin-left: 50px;
}

.navbar-inverse {
    background-color:rgba(0, 0, 0 ,0.9);
}

.navbar {
    max-height:379px;
}


ul.nav > li > a, ul.nav > li > a:hover {
        color: White;
        font-size: x-large;
        font-family: 'Oswald', sans-serif;
        font-style: Bold;
        background-color: transparent;
        display:inline-block;
        font-weight:400;
}

footer {
        font-family: 'Oswald', sans-serif;
        font-style: Bold;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 95px;
        background-color: Black;
        opacity:0.9;
        padding-top: 4px;
        margin-top: 100px;
        z-index:10;
        font-weight:400;
}

footer > p, footer > a {
        color: White;
        font-size: 30px;
        text-align:center;
}

.contact-footer {
        font-family: 'Oswald', sans-serif;
        font-style: Bold;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 95px;
        background-color: Black;
        opacity:0.9;
        padding-top: 4px;
        margin-top: 100px;
        z-index:10;
}

.brand {
    width: 120px;
    height: 70px;
}

 #logo {
         margin-left:50px;
         margin-top:10px; 
 }
 
 #button{
         width: 450px;
         padding: 20px;
         background-color:rgba(0, 0, 0 ,0.9);
    filter: Alpha(opacity=50); /* IE8 and earlier */
     }
    
    .ham{
            color:white;
            background-color: black;
            opacity: 0.9;
 }

label{
        font-size:20px;
}

 #buup{
         color:black;
 }
 
 well well-lg {
         height:1045px;
     }
 
 
 #wells, 
     .thumbnail {
          background-color:rgba(0, 0, 0 ,0.9);
          
  }
 #menu_text, #events_text{
         color: white;
         text-align:center;
    
         
 }
 
 .box{
         width: 423px;
         height: 206;
 }
 
 input{
         color:black;
 }
 
 
 body {
overflow-x: hidden;
overflow-y: scroll;
}

.btn {
  background: #33739e;
  background-image: -webkit-linear-gradient(top, #33739e, #2e83b8);
  background-image: -moz-linear-gradient(top, #33739e, #2e83b8);
  background-image: -ms-linear-gradient(top, #33739e, #2e83b8);
  background-image: -o-linear-gradient(top, #33739e, #2e83b8);
  background-image: linear-gradient(to bottom, #33739e, #2e83b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  margin-top:20px auto;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.kusanya-logo {
    height:50px;
}

.whatever {
    width:700px;
    height: 500px;
}

.form {
    padding-left:200px;
    color:black;
    padding:10px; 
    margin:0 auto;
    width:75%;
}



#about p {
    text-align:center;
    font-size:30px;
}

#container {
    margin-top:10px; 
    margin-bottom:120px;
}


@media (max-width: 768px) {
    li {
        color: white;
    }
    #logo {
        width:100%;
        margin-left:0;
    }
    
    p {
        font-size: 16px;
    }
    nav {
        width:100%;
        margin-left:0;
    }
    #container {
        margin-top:100px;
    }
    
    .navbar-fixed-top {
        position:relative;
        margin-top:10px;
    }
    
    /*jameer styles share with imani*/
    footer {
        position: static;
}
    .contact-footer {
        position: static;
}
}
    
}

/*jameer styles share with imani*/
#kusanya{
    border-color:rgba(0, 0, 0 ,0.9);
    
}
/*jameer styles share with iman*/
#wells{

    border-color:rgba(0, 0, 0 ,0.9);
    
}
/*jameer styles share with iman*/
.thumbnail{

    border-color:rgba(0, 0, 0 ,0.9);
    
}

#donate p {
    font-size:40px;
}