@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body#index {
        background-image: url(../images/home.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
}

body#about {
        background-image: url(../images/kusanya-coffeebeans.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Oswald', sans-serif;
        font-size:25px;
        color:white;
}

body#menu {
        background-image: url(../images/kusanya-coffeebeans.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Oswald', sans-serif;
}

body#events {
        background-image: url(../images/kusanya-tile.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Oswald', sans-serif;
}

body#donate {
        background-image: url(../images/kusanya-bricks.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-size:30px;
        color:white;
        text-align:center;
        padding-left:100px;
        padding-right:100px;
}

body#contact {
        background-image: url(../images/kusanya-tile.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Oswald', sans-serif;
}

body#catering {
        background-image: url(../images/kusanya-tile.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'Oswald', sans-serif;
    
}

nav {
        width: 150px;
        float: left;
        display: inline;
        margin: 0;
        padding:300;
        margin-right: 10px;
        opacity:0.9;
        margin-top: 100px;
        margin-left: 50px;
}

ul.nav > li > a, ul.nav > li > a:hover {
        color: White;
        font-size: x-large;
        font-family: 'Oswald', sans-serif;
        font-style: Bold;
        background-color: transparent;
}

footer {
        font-family: 'Oswald', sans-serif;
        font-style: Bold;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 95px;
        background-color: Black;
        opacity:0.9;
        padding-top: 4px;
        margin-top: 100px;
        z-index:10;
}

footer > p, footer > a {
        color: White;
        font-size: 30px;
        text-align:center;
}

.contact-footer {
        font-family: 'Oswald', sans-serif;
        font-style: Bold;
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 95px;
        background-color: Black;
        opacity:0.9;
        padding-top: 4px;
        margin-top: 100px;
        z-index:10;
}

.brand {
    width: 120px;
    height: 70px;
}

 
 
 #logo {
         margin-bottom: 100px;
 }
 
 .payback {
         width: 312px;
         height: 332px;
 }
 
 #button{
         width: 450px;
         padding: 20px;
         background-color:rgba(0, 0, 0 ,0.9);
    filter: Alpha(opacity=50); /* IE8 and earlier */
     }
    
    .ham{
            color:white;
            background-color: black;
            opacity: 0.9;
 }

label{
        font-size:20px;
}

 #buup{
         color:black;
 }
 
 well well-lg {
         height:1045px;
     }
 
 #wells{
         background-color:rgba(0, 0, 0 ,0.9);
         margin-bottom: 100px;
 }
 
 
 .thumbnail {
          image-size
          color: white;
          margin-bottom: 100px;
          background-color:rgba(0, 0, 0 ,0.9);
          
  }
 
 #events_text{
         font-size: 30px;
 }
 
 #menu_text{
         color: white;
         padding-left:100px;
         padding-right:100px;
         
 }
 
 .box{
         width: 423px;
         height: 206;
 }
 
 input{
         color:black;
 }
 
 #catering{
         background-image: url(images/cater.jpg);
         background-attachment: fixed;
         background-size: cover;
         background-repeat: no-repeat;
 } 
 
 body {
overflow-x: hidden;
overflow-y: scroll;
}

.btn-menu {
  background: #33739e;
  background-image: -webkit-linear-gradient(top, #33739e, #2e83b8);
  background-image: -moz-linear-gradient(top, #33739e, #2e83b8);
  background-image: -ms-linear-gradient(top, #33739e, #2e83b8);
  background-image: -o-linear-gradient(top, #33739e, #2e83b8);
  background-image: linear-gradient(to bottom, #33739e, #2e83b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top:20px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.kusanya-logo {
    height:50px;
}